<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.space_final">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sogi"></activity>
        <activity android:name=".Results" />
        <activity android:name=".update_d" />
        <activity android:name=".my" />
        <activity android:name=".user_profile" />
        <activity android:name=".details" />
        <activity android:name=".payment" />
        <activity android:name=".total" />
        <activity android:name=".address" />
        <activity android:name=".register" />
        <activity android:name=".daily" />
        <activity android:name=".monthly" />
        <activity android:name=".activity_two" />
        <activity android:name=".dashboard" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>